body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container {
    margin: auto;
    text-align: center;
}
.heading {
    color: #FF0000;
}

.indexTitle {
    color:#8a2be2;
}

ul, ol {
    display: inline-block;
    text-align: left;
    margin-top: -10px;
}
